<!DOCTYPE html>
<html>
<head>
    <title>403</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/page.css">
</head>
<body>
<h1>
    403
</h1>
<h2>
    Forbidden
</h2>
<p>
    You do not have permission to access this page or perform this action. Please make sure you are logged in as the correct user, or logged in at all.
</p>
<!-- go back one page -->
<button onclick="window.history.back()">Back to safety</button>
<button onclick="window.location.href='/'">Back to home</button>

</body>
</html>