<!DOCTYPE html>
<html>
<head>
    <title>500</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/page.css">
</head>
<body>
<h1>
    500
</h1>
<h2>
    Internal Server Error
</h2>
<p>
    The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.
</p>
<!-- go back one page -->
<button onclick="window.history.back()">Back to safety</button>
<button onclick="window.location.href='/'">Back to home</button>

</body>
</html>