<!DOCTYPE html>
<html>
<head>
    <title>{{ blog[1] }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/page.css">
</head>
<body>
<button onclick="window.location.href='/explore'">Back to Explore</button>
{% if user[0] == blog[6] %}
    <button onclick="window.location.href='/blog/{{blog[2]}}/newpost'">New Post</button>
    <button onclick="window.location.href='/blog/{{blog[2]}}/edit'">Edit blog</button>
{% endif %}
<h1>
    {{ blog[1] }}
</h1>
<h2>
    {{ blog[3] }}
</h2>
<p>
    {{ blog[4] }}
</p>
<!-- For each post in the blog, display the title and the content -->
{% if blog[5] %}
{% for post in posts %}
    <div class="blog-container">
        <h3>
      <a href="/blog/{{blog[2]}}/{{post[2]}}">
        {{ post[1] }}
      </a>
    </h3>
    <p>
        {{ post[3] }}
    </p>
    </div>
{% endfor %}
{% else %}
    <p>
        No posts yet.
    </p>
{% endif %}
</body>
</html>
