<!DOCTYPE html>
<html>
<head>
    <title>{{ blog[1] }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/page.css">
</head>
<body>
<a href="/homepage">Homepage</a>
    <a href="/blog/{{ blog[0] }}/newpost">New Post</a>
<h1>
    {{ blog[1] }}
</h1>
<h2>
    {{ blog[3] }}
</h2>
<p>
    {{ blog[4] }}
</p>
<!-- For each post in the blog, display the title and the content -->
{% if blog[5] %}
{% for post in posts %}
    <h3>
      <a href="/post/{{blog[0]}}/{{post[1]}}">
        {{ post[1] }}
      </a>
      <a href="/post/{{ blog[0] }}/edit">Edit</a>
    </h3>
    <p>
        {{ post[3] }}
    </p>
{% endfor %}
{% else %}
    <p>
        No posts yet.
    </p>
{% endif %}
</body>
</html>
