<!DOCTYPE html>
<html>
<head>
    <title>Create a post</title>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/page.css">
</head>
<body>
<h1>
    Edit a post
</h1>
<p>
    Onwards!
</p>
<form action="edit" method="post">
    {% if data %} <!-- If there is data, display it -->
        <p style="color: red;">{{ data }}</p>
    {% endif %}
    <label for="title">New Title</label>
    <br>
    <input type="text" name="title" id="title" value="{{ post[1] }}" required>
    <br>
    <label for="subtitle">New Subtitle</label>
    <br>
    <input type="text" name="subtitle" id="subtitle" value="{{ post[3] }}" required>
    <br>
    <label for="description">New Description</label>
    <br>
    <input type="text" name="description" id="description" value="{{ post[4] }}" required>
    <br>
    <label for="content">New Content</label>
    <br>
    <textarea name="content" id="content" cols="30" rows="10" required>{{ post[5] }}</textarea>
    <br>
    <input type="submit" value="Update Post">
</form>
<form action="delete">
    <input type="submit" value="Delete Post">
</form>
</body>
</html>
