<!DOCTYPE html>
<html>
<head>
    <title>Onboarding</title>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/page.css">       
</head>
<body>
<h1>
    Onboarding
</h1>
<p>
    Please tell us a little about yourself before your account is created.
</p>
<form action="/onboarding" method="post">
    {% if data %} <!-- If there is data, display it -->
        <p style="color: red;">{{ data }}</p>
    {% endif %}
    <br>
    <label for="first_name">First Name</label>
    <br>
    <input type="text" name="first_name" id="first_name">
    <br>
    <label for="last_name">Last Name</label>
    <br>
    <input type="text" name="last_name" id="last_name">
    <br>
    <label for="pfp_url">Profile Picture URL</label>
    <br>
    <input type="text" name="pfp_url" id="pfp_url">
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
