<!DOCTYPE html>
<html>
<head>
    <title>{{ blog[1] }}</title>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/page.css">       
</head>
<body>
<button onclick="window.location.href='/blog/{{blog[2]}}'">Back to blog</button>
{% if user[0] == blog[6] %}
    <button onclick="window.location.href='/blog/{{blog[2]}}/{{post[2]}}/edit'">Edit</button>
{% endif %}
<h1>
    {{ post[1] }}
</h1>
<h2>
    By {{ blog_user[4] }} {{ blog_user[5] }}
</h2>
<h3>
    {{ post[3] }}
</h3>
<h4>
    {{ post[4] }}
</h4>
<div id="post-content">
    {{ post[5] }}
</div>
<script>
    // Get the post content inner HTML
    let postContent = document.getElementById("post-content").innerHTML;
    fetch("http://1.mcdns.me:3000", {
            method: "POST",
            body: postContent
        }).then(function(response) {
            return response.text();
        }).then(function(text) {
            document.getElementById("post-content").innerHTML = text;
        });
</script>
</body>
</html>
