<!DOCTYPE html>
<html>
<head>
    <title>{{ blog[1] }}</title>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/page.css">       
</head>
<body>
{% if user_id == blog[6] %}
    <a href="/blog/{{ blog[0] }}/newpost">New Post</a>
    <a href="/blog/{{blog[1].lower()}}">Back to Blog</a>
{% endif %}
<h1>
    {{ post[1] }}
</h1>
<h2>
    {{ post[3] }}
</h2>
<h3>
    {{ post[4] }}
</h3>
<p>
    {{ post[5] }}
</p>

</body>
</html>
